/*--------------------------------------------------------------

Styling taken from Buddypress' Default Theme

--------------------------------------------------------------*/

.standard-form textarea,
.standard-form input[type=text],
.standard-form select,
.standard-form input[type=password],
.dir-search input[type=text] {
  border: 1px inset #ccc;
  border-radius: 3px;
  color: #888;
  font: inherit;
  font-size: 14px;
  padding: 6px;
}

.standard-form select {
  padding: 3px;
}

.standard-form input[type=password] {
  margin-bottom: 5px;
}

.standard-form label,
.standard-form span.label {
  display: block;
  font-weight: bold;
  margin: 15px 0 5px 0;
}

.standard-form div.checkbox label,
.standard-form div.radio label {
  color: #888;
  font-size: 14px;
  font-weight: normal;
  margin: 5px 0 0 0;
}

.standard-form#sidebar-login-form label {
  margin-top: 5px;
}

.standard-form input[type=text] {
  width: 75%;
}

.standard-form#sidebar-login-form input[type=text],
.standard-form#sidebar-login-form input[type=password] {
  padding: 4px;
  width: 95%;
}

.standard-form #basic-details-section input[type=password],
.standard-form #blog-details-section input#signup_blog_url {
  width: 35%;
}

.standard-form#signup_form input[type=text],
.standard-form#signup_form textarea,
.form-allowed-tags,
#commentform input[type=text],
#commentform textarea {
  width: 90%;
}

.standard-form#signup_form div.submit {
  float: right;
}

div#signup-avatar img {
  margin: 0 15px 10px 0;
}

.standard-form textarea {
  width: 75%;
  height: 120px;
}

.standard-form textarea#message_content {
  height: 200px;
}

.standard-form#send-reply textarea {
  width: 97.5%;
}

.standard-form p.description {
  color: #888;
  font-size: 11px;
  margin: 5px 0;
}

.standard-form div.submit {
  clear: both;
  padding: 15px 0 0 0;
}

.standard-form p.submit {
  margin-bottom: 0;
  padding: 15px 0 0 0;
}

.standard-form div.submit input {
  margin-right: 15px;
}

.standard-form div.radio ul {
  margin: 10px 0 15px 38px;
  list-style: disc;
}

.standard-form div.radio ul li {
  margin-bottom: 5px;
}

.standard-form a.clear-value {
  display: block;
  margin-top: 5px;
  outline: none;
}

.standard-form #basic-details-section,
.standard-form #blog-details-section,
.standard-form #profile-details-section {
  float: left;
  width: 48%;
}

.standard-form #profile-details-section {
  float: right;
}

.standard-form #blog-details-section {
  clear: left;
}

.standard-form input:focus,
.standard-form textarea:focus,
.standard-form select:focus {
  background: #fafafa;
  color: #555;
}

button,
input[type=submit],
input[type=button] {
  background: #fff;
  /* Old browsers */
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%,#ededed 100%);
  /* Chrome10+,Safari5.1+ */
  /* Opera11.10+ */
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
  /* IE6-9 */
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ededed));
  background: -webkit-linear-gradient(top, #ffffff 0%, #ededed 100%);
  background: linear-gradient(top, #ffffff 0%,#ededed 100%);
  /* W3C */
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #777;
  cursor: pointer;
  font: normal 12px/20px Arial, Tahoma, Verdana, sans-serif;
  outline: none;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  line-height: 14px;
}

.hide_question {
  display: none;
}
