.hide_question {

	display: none;	
	
}

div.wpnbm select {
margin: 3px 0 3px 0;
/* 
border: 1px orange solid;

	Borders are just to test layout

*/

}

div.wpnbm input {

/* 
border: 1px orange solid;

	Borders are just to test layout

*/

}

div.wpnbm div {

/* border: 1px purple solid;

	Borders are just to test layout

*/
}

div.question {
	margin: 5px 0 10px 10px;
}

div.role-data {

	float: left;
	min-width: 400px;
	
}

div.use-data {
	
	float: left;
	min-width: 400px;
}

div.buttons {
	
margin-top: 200px; 
position: absolute; 

/*

border: 1px black solid;	

	Borders are just to test layout

*/
}